<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.sh.entity.Admin">
    <!--@mbg.generated-->
    <!--@Table t_admin-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_acct" jdbcType="VARCHAR" property="loginAcct" />
    <result column="user_pswd" jdbcType="CHAR" property="userPswd" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, login_acct, user_pswd, user_name, email, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sh.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_admin (login_acct, user_pswd, user_name, 
      email, create_time)
    values (#{loginAcct,jdbcType=VARCHAR}, #{userPswd,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sh.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginAcct != null">
        login_acct,
      </if>
      <if test="userPswd != null">
        user_pswd,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginAcct != null">
        #{loginAcct,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null">
        #{userPswd,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sh.entity.Admin">
    <!--@mbg.generated-->
    update t_admin
    <set>
      <if test="loginAcct != null">
        login_acct = #{loginAcct,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null">
        user_pswd = #{userPswd,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sh.entity.Admin">
    <!--@mbg.generated-->
    update t_admin
    set login_acct = #{loginAcct,jdbcType=VARCHAR},
      user_pswd = #{userPswd,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="getAdminByLoginAcct" resultMap="BaseResultMap">
        select
    <include refid="Base_Column_List"></include>
        from t_admin
        where login_acct=#{loginAcct}


  </select>


  <select id="getAdminListByKeyWord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from t_admin
    <where>
      <if test="keyword != null">
        login_acct like concat("%",#{keyword},"%")
        or
        user_name like concat("%",#{keyword},"%")
        or
        email like concat("%",#{keyword},"%")
      </if>

    </where>




  </select>
    <delete id="deleteOldRelation">
        delete from inner_admin_role
        where admin_id=#{adminId}
    </delete>
  <insert id="saveNewRelation">
    insert into inner_admin_role (admin_id, role_id)
    values
    <foreach collection="roleIdList" item="roleId"  separator="," >
      (#{adminId},#{roleId})
    </foreach>

  </insert>
</mapper>